body {
  background-image: url('images/spoons.jpg');
  background-attachment: fixed;
  background-size: cover;
} 
.user-profile-div {
  margin-top: 70px;
  color: #ccc;
}
.profile-div {
  background-color: rgba(135,36,11,0.3);

}
.card {
  margin-bottom: 20px;
  height: 300px;
  width: 220px;
  border-color: #87240b;
  background-color:  rgba(12, 12, 12, 0.8);

}
.card-title {
  color:#ccc;
}

.container-fluid-all{
  margin-top: 70px;
}
.form-group  {
  color: #ccc;
}
.label {
  color: #ccc;
}
.login-btn {
  background-color: #87240b;
  border: 2px;
}
a {
  color: #ccc;

}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #87240b;
}
.delete {
  background-color: #87240b;
  margin-left: 90%;
  width: 10%;
  text-align: center;
  border-radius: 50%;

}
.see-recipe {
  background-color: #87240b;
  border-radius: 40%;

}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.recipe-details {
  margin-top:  60px;
  color: #ccc;
  margin-left: 20px;
}
.recipe-form {
  color: #ccc;

}
#review-div {
  border: 2px solid  #87240b;
  width: 40%;
  float: center;
  margin-left: 25%;
  margin-top: 20px;
}
#avatar {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50px;
}


